main > h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    color: #333;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    border: 1px solid black;
}

.game-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px; 
}

.players {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 8px;
    background-color: gold;
}

.score {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}